.banner-bio {
    height: 830px;
    background-image: url("../../assets/images/background/Biodiversitas.jpg");
    background-size: cover;
    background-position: center -75px;
}

.search-bio {
    width: 740px;
}